@page
@model SuperTutor.ApiGateways.Admin.Pages.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="text-center">
    <h1 class="display-4">Създай нов профил</h1>

    @Model.Msg
    <form method="post" asp-page="Register">
        <table>
            <tr>
                <td>Имейл</td>
                <td><input type="text" asp-for="@Model.Email" /></td>
            </tr>
            <tr>
                <td>Парола</td>
                <td><input type="password" asp-for="@Model.Password" /></td>
            </tr>
             <tr>
                <td>Име</td>
                <td><input type="text"  asp-for="@Model.FirstName" /></td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td><input type="text"  asp-for="@Model.LastName" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Регистрация" /></td>
            </tr>
        </table>
    </form>
</div>
